{% extends 'layout.html.twig' %}

{% block content %}

    <div class="photoPresentation">
        <img class="" src="." alt=""></img>
    </div>

    <div class="textPresentation">
        <h6>Nom du chat</h6></br>
        <p>“Ce chat est génial !” 8 mois<p>
        <button><a href="chatadopt.html.twig">Je l'adopte !</a></button>
    </div>

    <section id="textPresentation">
    <h6>Plus d'informations</h>
    <p>Vaccination : Oui, à jour
    Stérilisation : Oui

    Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.

    Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
    </p>
    </section>

    <div class="contact">
        <form name = "contactform" id="contactform" method="POST">
            <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" placeholder="Votre nom" required><br>
            <label for="surname">Prénom:</label><br>
                <input type="text" id="surname" name="surname" placeholder="Votre prénom" required><br>
            <label for="adresse">Votre adresse:</label><br>
                <input type="text" id="adresse" name="adresse" placeholder="Votre adresse" required><br>
            <label for="postal">Votre code postal:</label><br>
                <input type="text" id="postal" name="postal" placeholder="Votre code postal" required><br>
            <label for="ville">Votre ville:</label><br>
                <input type="text" id="ville" name="ville" placeholder="Votre ville" required><br>
            <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" placeholder="votreadresse@email.com" required><br>
            <br><br>
                <input type="submit" value="Adopter ce chat !" id="submit">
        </form>
    </div>




{% endblock %}