{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "pageChat">
        <div>
            <img class="grosChatRond" src="." alt=""></img>
        </div>

        <div class="droitedelapageChat">
            <h6>Nom du chat</h6>
                <div class="nom_age_button"></br>
                <p>“Ce chat est génial !” 8 mois<p>
                    <button><a href="chatadopt">Je l'adopte !</a></button>
        </div>

            <section id="textPresentation">
                <h6>Plus d'informations</h6>
                    <p>Vaccination : Oui, à jour
                    Stérilisation : Oui
                    Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.
                    Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
                    </p>
            </section>
        </div>
    </div>
            <div class="formadoption">
                <form name = "contactform" id="contactform" method="POST">
                    <br><h6>Formulaire d'adoption:</h6><br><br>
                    <label for="prenom">Prénom:</label><br>
                        <input type="text" id="prenom" name="prenom" placeholder="Gustave" required><br>

                    <label for="nom">Nom:</label><br>
                        <input type="text" id="nom" name="nom" placeholder="Eiffel" required><br>

                    <label for="adresse">Votre adresse:</label><br>
                        <input type="text" id="adresse" name="adresse" placeholder="55 rue de la gauloise" required><br>

                    <label for="telephone">Votre numéro de téléphone:</label><br>
                        <input type="text" id="telephone" name="telephone" placeholder="01234656789" required><br>

                    <label for="Code_postal">Votre code postal:</label><br>
                        <input type="text" id="Code_postal" name="Code_postal" placeholder="00000" required><br>

                    <label for="ville">Votre ville:</label><br>
                        <input type="text" id="ville" name="ville" placeholder="Paris" required><br>
                        
                    <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" placeholder="votreadresse@email.com" required><br>
                    <br><br>
                        <input type="submit" value="Adopter ce chat !" id="submit">
                </form>
            </div>


{% endblock %}
