{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "pageChat">
        <div>
            <img class="grosChatRond" src="." alt=""></img>
        </div>

        <div class="droitedelapageChat">
            <h6>Nom du chat</h6>
                <div class="nom_age_button"></br>
                <p>“Ce chat est génial !” 8 mois<p>
        </div>

            <section id="textPresentation">
                <h6>Plus d'informations</h6>
                    <p>Vaccination : Oui, à jour
                    Stérilisation : Oui
                    Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.
                    Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
                    </p>
                    <p>Chaplin a déjà trouvé une famille aimante ! Mais d’autres chats mignons n’attendent que vous !</p>
            </section>
                    <button><a href="listechats">Voir d'autres chats mignons !</a></button>
        </div>
    </div>

{% endblock %}


{# 
Plus d'informations
Vaccination : Oui, à jour Stérilisation : Oui Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu. Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants

Chaplin a déjà trouvé une famille aimante ! Mais d’autres chats mignons n’attendent que vous !

 #}