{% extends 'layout.html.twig' %}

{% block content %}

{# {% include "/component/_header.html.twig" %} #}

<div class="photoPresentation">
<img class="" src="." alt=""></img>
</div>

<div class="textPresentation">
<h6>Nom du chat</h6></br>
<p>“Ce chat est génial !” 8 mois<p>
<button><a href="en cours">Je l'adopte !</a></button>
</div>

<section id="photo de présentation">
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
</section>

<section id="textPresentation">
<h6>Plus d'informations</h>
<p>Vaccination : Oui, à jour
Stérilisation : Oui

Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.

Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
</p>
</section>


{% endblock %}