{% extends 'layout.html.twig' %}

{% block content %}

<div class="photoPresentation">
    <img class="" src="." alt=""></img>
</div>

<div class="textPresentation">
    <h6>Nom du chat</h6></br>
        <p>“Ce chat est génial !” 8 mois<p>
            <button><a href="chatadopt">Je l'adopte !</a></button>
</div>

<section id="textPresentation">
    <h6>Plus d'informations</h>
        <p>Vaccination : Oui, à jour
        Stérilisation : Oui
        Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.
        Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
        </p>
</section>

{% endblock %}