{% extends 'layout.html.twig' %}
{% block content %}
        <div class = "Dicton"> 
            <p>
            “Si l'on pouvait croiser l'homme et le chat, ça améliorerait l'homme, mais ça dégraderait le chat.” Mark Twain.
            </p>
        </div>
        <div class = "divPrincipalePageHistoire">
            <div class= "histoire">
                <div class= "titre"><h1>Notre Histoire</h1></div>
                    <p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. 
                        De carne cerebro lumbering animata cervello corpora quaeritis. 
                        Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris.
                        Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, 
                        imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. 
                        Qui optic gland animated corpse, brains cricket bat substantia ni.
                        <br>
                        gra max brucks spinal cord terribilem incessu brains zomby. 
                        The medulla voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. 
                        Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro. 
                        Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. 
                        Nigh basal ganglia tofth eliv ingdead.
                        <br>
                        Cum prefrontal cortex horribilem walking fornix dead resurgere brains de crazed limbic cortex optic nerve sepulcris creaturis, 
                        braaaaaiins zombie sicut hypothalamus de grave hippocampus feeding iride brainz et serpens. 
                        Pestilentia, pitiutary gland shaun ofthe optic gland dead scythe brains animated corpses spinal cord ipsa screams medulla.
                    </p>
           <br>   
           <br>
            
            <div class= "titre"><h1>Nos Valeurs</h1></div>
                    <p>
                    Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. 
                    <br>
                    De carne cerebro lumbering animata cervello corpora quaeritis. 
                    <br>
                    Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris.
                    </p>
                </div>
            
            <br>   
            <br>

            <h2>Une information? Une suggestion? Une adoption? Contactez-nous ici ! :)</h2>
                <div class="contact">
                    <form name = "contactform" id="contactform" method="POST">
                        <label for="name">Nom et prénom :</label><br>
                            <input type="text" id="name" name="name" placeholder="Dupond Martine" required><br>
                        <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" placeholder="Martine@email.com" required><br>
                        <label for="message">Message:</label><br>
                             <input type="text" id="message" name="message" placeholder="Ecrivez-nous un message !" required></textarea>
                    <br><br>
                            <input type="submit" value="Envoyer !" id="submit">
                    </form>
                </div>

                <div class="coordonées">
                    Au cas où, voici nos coordonées : </br>
                    Notre adresse mail :   adopteUnChat@gmail.fr</br>
                    Numéro de téléphone :  0264589575</br>
                </div>
        </div>

{% endblock %}

