{% extends 'layout.html.twig' %}

{% block content %}

{# {% include "/component/_header.html.twig" %} #}

<section class="caroussel">Photos carroussel de chats</section>

<h1>Et si c'était lui ?</h1>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<button><a href="en cours">Voir tous les chats en attente d'adoption</a></button>

<div class="assoHome">
<h1>Notre association</h1>
<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. 
De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
</p>
<button><a href="en cours">En savoir plus</a></button>
</div>


<h1>Notre sélection</h1>
<div class="chatHome">
<a href="vers la page du chat"><img class="" src="." alt="">Photo de Rayu</img></a>
<h3> Son nom : Rayu</br> Son age : 5 ans </h3>
</div>
<div class="chatHome2">
<p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
</div>


{% endblock %}

