{% extends 'layout.html.twig' %}

{% block content %}

<img class="chatHome" src="../../../assets/images/Cat/Pilou/Pilou.jpg" alt="Photo de Pilou"></img>
 
    <div class= "titre"><h1>Et si c'était lui ?</h1></div>

    <div class="leschats">
      <img class="chat" src="../../../assets/images/Cat/Chapelin/Chaplin4.jpg" alt="Photo de Chapelin"></img>
      <img class="chat" src="../../../assets/images/Cat/Channel/Channel.jpg" alt="Photo de Channel"></img>
      <img class="chat" src="../../../assets/images/Cat/Wale/Wale.jpg" alt="Photo de Wale"></img>
      <img class="chat" src="../../../assets/images/Cat/Shaw/Shaw.jpg" alt="Photo de Shaw"></img>
      <img class="chat" src="../../../assets/images/Cat/Monster/Monster.jpg" alt="Photo de Monster"></img>
    </div>
  
  <button><div  class ="allCats"><a href="">Voir tous les chats en attente d'adoption</a></div></button>

    <div class="Homebasdepage">
 
        <div class="Homepageleft">
           <div class= "titre"><h1>Notre association</h1></div>
                <div class="texthistoire">
                     <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. 
                     De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
                    Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. 
                     De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
                   </p>
                         <div class="textbutton"><button><a href="histoire">En savoir plus</a></button></div>
                </div>
        </div>
    <br>
        <div class="Homepageright">
            <div class= "titre"><h1>Notre sélection</h1></div>
                <div class = "presduchat">
                    <a href="vers la page du chat"><img class="chat" src="../../../assets/images/Cat/Rayu/Rayu.jpg" alt="Photo de Rayu"></img></a>
                        <h3> Son nom : Rayu </br> Son age : 5 ans </h3>
                <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
        </div>

    </div>

{% endblock %}

