{% extends 'layout.html.twig' %}

{% block content %}

<img class="" src="." alt=""></img>
<h4> CITATION </h4>

<h1>Trouver votre chat</h1>

<section id="recherche">  
    <div class="container" id="recherche">
        <form id="rechercheForm" action="" method="post">
            <div class= "contentchamp">
                <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" placeholder="Un nom de chat">
                <label for="age">Age</label>
                    <input type="range" value="" max="1" min="20" step="1">
                <label for="couleur">Robe</label>
                    <select name="cat" id="cat-select">
                        <option value="">--Choississez une robe--</option>
                        <option value="bleu">Bleu</option>
                        <option value="roux">Roux</option>
                        <option value="blanc">Blanc</option>
                        <option value="noir">Noir</option>
                        <option value="brun">Brun</option>
                        <option value="écaille de tortue">Ecaille de tortue</option>
                        <option value="crème">Crème</option>
                    </select>
                <label for="sexe">Sexe</label>
                    <select name="cat" id="cat-select">
                        <option value="">--Choississez mâle ou femelle--</option>
                        <option value="mâle">Mâle</option>
                        <option value="femelle">Femelle</option>
                    </select>
  
                    <input type="submit" value="Rechercher" id="sentButton">
                    <button><a href="histoire.html">En savoir plus</a></button>
            </div>
    </form>
</div>
</section>

<h5>Les chats</h5>
    <div class = "fichesChat">
        <div class = "premieresFiches"> 
            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>

            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>
                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>

        <div class="dernieresFiches">
            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>

            <div class = "ficheChat">
                <div class="photoTitre">
                <img class="chatrond" src="." alt=""></img>
                <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
