<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class = "layout">
        <nav>
            <div class="logo">AdopteUnChat.com</div>
                <ul class = "menu">
                    <li>Accueil</li>
                    <li>Nos chats</li>
                    <li>Notre histoire</li>
                    <li>Contact</li>
                </ul>
        </nav>
    </div>
</header>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}


    
</body>
</html>


