
<footer>
    <a href="index.html.twig" class="RetourHome">AdopteUnChat.com</a>

    <div class="Endpage">
            <ul class="links">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="recherche.html">Nos Chats</a></li>
                <li><a href="histoire.html">Notre Histoire</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        <p class="Copyright">© Copyright BDNY. Tous droits réservés</p>
            
    </div>
</footer>