
<footer>
    <a href="/" class="RetourHome" style="couleur2">AdopteUnChat.com</a>

    <div class="Endpage">
            <ul class="links">
                <li><a href="index" style="couleur2">Accueil</a></li>
                <li><a href="recherche" style="couleur2">Nos Chats</a></li>
                <li><a href="histoire" style="couleur2">Notre Histoire</a></li>
                <li><a href="histoire" style="couleur2">Contact</a></li>
            </ul>
        <p class="Copyright">© Copyright BDNY. Tous droits réservés</p>    
    </div>
    
</footer>