
<footer>
    <a href="/" class="RetourHome">AdopteUnChat.com</a>

    <div class="Endpage">
            <ul class="links">
                <li><a href="index">Accueil</a></li>
                <li><a href="listechats">Nos Chats</a></li>
                <li><a href="histoire">Notre Histoire</a></li>
                <li><a href="histoire#contact">Contact</a></li>
            </ul>
        <p class="Copyright">© Copyright BDNY. Tous droits réservés</p>    
    </div>
    
</footer>