{% extends 'layoutAdmin.html.twig' %}

{% block content %}

<div class="logo">AdopteUnChat.com</div>
<div id="deconnexion">
<button><a href="">Déconnexion</a></button>
</div>

<h2 id="titreNosChats">Nos chats</h2>

<div class="barrederecherche">
  <form id="formBarreDeRecherche" action="" class="formulaire">
    <input id="inputRecherche" class="champ" type="text" placeholder="Taper votre rechercher"/>
    <input id="rechercheBoutton" type="submit" id='submit' value='Rechercher' >
  </form>
    <button id="bouttonAjouterChat"><a href="">Ajouter un nouveau chat</a></button>
</div>


<div class="listeDesChats">
  <ul id="infoChat">
    <li class="caracteristique">placeholder: Nom</li>
    <li class="caracteristique">placeholder: Age</li>
    <li class="caracteristique">placeholder: Couleur</li>
  </ul>
  <button id="bouttonModifier"><a href="">Modifier</a></button>
  <button id="bouttonSupprimer"><a href="">Supprimer</a></button>
</div>

{% endblock %}
