{% extends 'layout.html.twig' %}

{% block content %}

<title>AdopteUnChat.com</title>
<button><a href="">Déconnexion</a></button>

<h1>Nos chats</h1>
<h1>Nos familles d'accueil</h1>

<div class="barrederecherche">
  <form action="" class="formulaire">
               <input class="champ" type="text" value="Search...)"/>
                    <input class="bouton" type="button" value=" " />
</div>

<button><a href="">Ajouter un nouveau chat</a></button>

<div class="listeDesChats">
<img class="" src="." alt=""></img>
<ul>
<li><p>Son nom</p></li>
<li><p>Nom de la famille d'accueil</p></li>
<button><a href="">Afficher/non afficher</a></button>
<button><a href="">Modifier</a></button>
<button><a href="">Supprimer</a></button>


</div>

{% endblock %}
