{% extends 'layout.html.twig' %}

{% block content %}


<div class="barrederecherche">
  <form action="" class="formulaire">
               <input class="champ" type="text" value="Search...)"/>
                    <input class="bouton" type="button" value=" " />
</div>

<button><a href="">Ajouter un nouveau chat</a></button>

<div class="photoPresAdmin">
<img class="" src="." alt=""></img>
</div>
s
<div id="photoAdmin">
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
<img class="" src="." alt=""></img>
</div>

<p>Nom
Age
Race
Couleur
Sexe
Photo
Date d’arrivée
Vaccin
Sterilisation
Compatibilité avec d’autres animaux
Divers informations
Famille d’accueil
Adoptant 
</p>



{% endblock %}