{% extends 'layout.html.twig' %}

{% block content %}
<title>AdopteUnChat.com</title>
<button><a href="">Déconnexion</a></button>

<h1>Nos chats</h1>
<h1>Nos familles d'accueil</h1>

<form action="" method="post">
    <div>
        <label for="name">Nom :</label>
        <textarea type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="prénom">PRénom :</label>
        <input type="number" id="age" name="age" required>
    </div>
    <div>
        <label for="adresse">Adresse :</label>
        <textarea type="text" id="race" name="race" required>
    </div>
   <div>
        <label for="haveAnimal">Possède déjà un animal :/label>
        <textarea type="text" id="race" name="race" required>
    </div>
        <div>
        <label for="garden">Possède un jardin :</label>
        <textarea type="file" id="photo" name="photo" required>
    </div>
    <div>
        <label for="adresse">Quel chat de l'association accueille-t-il :</label>
        <textarea type="text" id="name" name="name" required>
    </div>
          <div>
        <label for="date">Depuis le :</label>
        <textarea type="date" id="date" name="date" required>
    </div>
    <div>
        <label for="adresse">Adresse :</label>
        <textarea type="text" id="race" name="race" required>
    </div>
    </form>


